{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "$containers": "./src/containers",
          "$components": "./src/components",
          "$containers/*": "./src/containers/*",
          "$components/*": "./src/components/*",
        }
      }
    ]
  ]
}